asgiref==3.11.1
crispy-tailwind==1.0.3
dj-database-url==2.1.0
Django==6.0.3
django-crispy-forms==2.6
gunicorn==21.2.0
pillow==12.1.1
psycopg2-binary==2.9.9
python-decouple==3.8
sqlparse==0.5.5
whitenoise==6.8.2
